<h1> ALL MONSTERS </h1>

<ul class="monsters">
    <li *ngFor="let monster of monsters" (click)="onSelect(monster)">
        <span class="badge">{{monster.id}}</span> {{monster.name}}
    </li>
</ul>


<div *ngIf="selectedMonster">

    <h2>{{selectedMonster.name | uppercase}} Details</h2>
    <div><span>id: </span>{{selectedMonster.id}}</div>
    <div><span>name: </span>{{selectedMonster.name}}</div>
    <div><span>attack: </span>{{selectedMonster.attack}}</div>
    <div><span>defense: </span>{{selectedMonster.defense}}</div>

</div>
